* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: 20px 'Righteous', cursive;
}

body {
  background-image: linear-gradient(
    0deg,
    rgba(43, 167, 218, 1) 0%,
    rgba(83, 103, 173, 1) 100%
  );
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.page-wrapper {
  width: 70%;
  margin: 0 auto;
  border: 5px solid;
  border-image: linear-gradient(to bottom, #f0f0f5, rgba(0, 0, 0, 0)) 1 100%;
  padding: 10px;
}
h2 {
  text-align: center;
  margin: 0 auto;
  font-family: 'Saira Stencil One', cursive;
  font-size: 7em;
  text-transform: uppercase;
  color: #f0f0f5;
}

.team-selection {
  max-width: 350px;
  width: 100%;
  margin: 2.5em auto;
  text-align: center;
}
.team-selection > input {
  width: 95%;
  margin: 1em auto;
  padding: 30px 0 30px 12px;
  border-radius: 50px;
  background-color: transparent;
  text-transform: uppercase;
  color: #f0f0f5;
  box-shadow: 0px 3px 7px 6px rgba(0, 0, 0, 0.18);
  transition: border 0.1s linear;
}
::placeholder {
  color: #f0f0f5;
  opacity: 0.5;
  padding-left: 15px;
}
.team-selection > input:hover {
  border: 4px solid #f0f0f5;
}
.team-selection > input:focus {
  border-radius: 50px;
  border: 4px solid #f0f0f5;
}

#start-button {
  width: 40%;
  background-image: linear-gradient(to right, #f0f0f5, #2ba7da);
  background-size: 200%;
  margin: 0 auto;
  border-radius: 50px;
  padding: 30px;
  box-shadow: 0px 3px 7px 6px rgba(0, 0, 0, 0.18);
}
#start-button:hover {
  background-position: right center;
  transition: 0.7s;
}

.footer footer {
  color: #f0f0f5;
  text-align: center;
  font-size: 15px;
  opacity: 0.8;
  margin-top: 0.5em;
}

/*Media queries*/

/*Tablet*/
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  h2 {
    font-size: 4em;
  }
  .team-selection > input {
    width: 75%;
    padding: 15px 0 15px 12px;
  }
  #start-button {
    width: 30%;
    padding: 15px;
    margin-top: 1em;
  }
  .footer footer {
    margin-top: 10.5em;
    font-size: 14px;
  }
}

/* Mobile*/
@media only screen and (min-width: 240px) and (max-width: 480px) {
  * {
    font-size: 12px;
  }
  .header {
    position: relative;
    top: 50px;
  }

  h2 {
    font-size: 3.7em;
  }
  .team-selection {
    position: relative;
    top: 80px;
  }
  .team-selection > input {
    width: 75%;
    padding: 30px 0 30px 12px;
  }
  #start-button {
    padding: 27px 20px;
    margin-top: 1.5em;
    width: 50%;
  }
  .footer footer {
    margin-top: 18em;
    font-size: 11px;
  }
}

/*Animation*/
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(+100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(+100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.left {
  animation: slideInFromLeft 1s ease-out;
}
.right {
  animation: slideInFromRight 1s ease-out;
}
.down {
  animation: slideDown 1s ease-out;
}
.up {
  animation: slideUp 1s ease-out;
}
.show {
  animation: show 1s ease-out;
}
